<style>
  .container {
    width: 800px;
    font-family: Arial, Helvetica, sans-serif;
    align-items: center;
    display: flex;
    flex-direction: column;
  }

  span {
    margin: 10px;
  }
</style>

<div class="container">
  <img src="https://i.imgur.com/oUAKMC5.png"/>
  <span>Hello, {{name}}!</span>
  <br/>
  <span>You requested to change your password.</span> 
  <span>To make the exchange click on the link
    <a href="{{link}}">{{link}}</a>
  </span>

  <span>If you didn't request to change your password, just ignore this email.</span>

  <strong>Thank you!</strong>
  <h3>Team | <strong>RentX</strong></h3>
</div>